

body{
    background-color: #0E1818;
    color: #a59e96;
    font-family: "Poppins", serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    font-weight: 500;
    font-size:100px;
}
h2{
    font-weight: 100;
    font-size: 70px;
}
p{
    font-size: 20px;
    margin-top: 1px;
}
a{
    color: #a59e96;
}
.contact-info{
    font-weight: 250;
}

#main-container{
    border: 2px solid #a59e96;
    display: block;
    height: 95vh;
    width: 98vw;
    position: fixed;
    display: flex;
} 
#title-container{
    padding: 2% 0% 0% 2%;
    border-right: 2px solid #a59e96;
    height: 100vh;
    width: 50%;
    position: sticky;
    display: flex;
    flex-direction: column;
}
#contact-container{
    display: flex;
    padding: 20px 0 20px 0;
}
#project-container{
    padding: 2% 0% 0% 2%;
    width: 50%;
    overflow-y: scroll;
}





